.seats {
  color: black;
  position: relative;
  display: inline-block;
  border: 1px;
  border-color: black;
}
.columns {
	position: relative;
	display: inline-block;
}

.seat-chart {
	width: 90%
	margin: 0 auto;
}

.available:hover {
	background-color: /* something here */
	border-radius: 
}

}